#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include LICENSE
include README.rst
include qcrimsonetstyle/style.qss
include qcrimsonetstyle/style.qrc
include qcrimsonetstyle/rc/*.png



